/* CSS file */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333333;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 32px;
  color: #ffffffaf;
  margin: 0;
}

main {
  padding: 20px;
}

.hero {
  background-color: #63c3debb; /* Nice pink color */
  color: #ffffffca;
  text-align: center;
  padding: 150px 0;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.513);
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.199);
}

.hero-description {
  font-size: 24px;
  max-width: 600px;
  margin: 0 auto 31px;
}

.hero-btn {
  background-color: #ffffff63;
  color: #e84393cb;
  border-radius: 25px;
  padding: 15px 35px;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-btn:hover {
  background-color: #e84380d1;
  color: #ffffff;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #f5f6f6;
}

.info p {
  font-size: 16px;
  color: #eef7f5;
}

.address,
.contact,
.about {
  
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #b143e8ca;
  max-width: 320px;
  text-align: center;
  padding: 21px;}