<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieVerseX</title>
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <header>
        <h2>Cinemate</h2>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h2 class="hero-title">Experience the Magic of South Indian Cinema</h2>
                <p class="hero-description">Embark on an enchanting cinematic journey, where movies transport you to new worlds.</p>
                <a href="/movies" class="btn hero-btn">Explore Now</a>
            </div>
        </section>

        <section class="info">
            <div class="address">
                <h4>Visit Us</h4>
                <p>123 college road Road,</p>
                <p>gudlavallery</p>
            </div>
            <div class="contact">
                <h4>Contact Us</h4>
                <p>Email: info@movieverse.com</p>
                <p>Phone: +91 1234 43210</p>
            </div>
            
        </section>

    </main>

    <footer>
        <p>&copy; 2023 MovieVerseX. All rights reserved.</p>
    </footer>
</body>

</html>
