/* Global styles */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Loading Spinner */
  .loading-container {
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #881c1c;
  }
  
  /* Bookings Container */
  .bookings-container {
    min-height: 120vh;
    padding: 30px;
    background-color: #23b118;
  }
  
  /* Bookings Title */
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10vh;
    color: #38179e;
  }
  
  /* Booking Card */
  .booking-card {
    background-color: #884767;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10px; /* Add curved edges */
  }
  
  .booking-card:hover {
    background-color: #c42057; /* Change background color on hover */
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .booking-card div {
    margin-bottom: 6px;
  }
  
  .booking-card strong {
    font-weight: bold;
  }
  
  .booking-card ul {
    padding-left: 21px;
  }
  
  /* Payment Status */
  .payment-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .payment-status strong {
    display: flex;
    align-items: center;
  }
  
  .payment-status p {
    font-weight: lighter;
    margin-left: 11px;
  }
  
  /* Cancel Ticket Button */
  .cancel-ticket-btn {
    background-color: #a71414;
    color: #ab5454;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px; /* Add curved edges */
  }
  
  .cancel-ticket-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .cancel-ticket-btn:hover:enabled {
    background-color: #767070;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 762px) {
    .bookings-container {
      padding: 11px;
    }
  
    .booking-card {
      font-size: 13px;
    }
  }
  