.movies-list {
    padding: 21px;
    min-height: 105vh;
    padding-top: 13vh;
}

h2 {
    font-size: 25px;
    margin-bottom: 21px;
}

.search-bar {
    margin-bottom: 21px;
}

.search-bar input {
    width: 101%;
    padding: 9px;
    font-size: 15px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 4px;
    outline: none;
}

.movie-grid {
    display: grid;
    grid-template-columns: 60px,20px;
    grid-gap: 20px; /* Add spacing between the card rows */
}

.card {
    background-color: #333333ab; /* Dark background color for the movie card */
    color: #ffffff; /* White text color for the movie card */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.291); /* Reduced box shadow */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.205); /* Increased box shadow on hover */
    transform: translateY(-4px); /* Add a slight translation upwards on hover */
}

.card-img-top {
    width: 100%;
    height: 405px; /* Set a fixed height for the card image */
    object-fit: cover;
}

.card-content {
    padding: 11px; /* Add padding for the content inside the card */
}

.card-title {
    font-size: 19px;
    margin-bottom: 6px;
}

.card-text {
    font-size: 11px;
    margin-bottom: 6px;
}
